/**
 * @desc
 * @param $size -
 * @param $foreground-color -
 * @param $background-color -
 */
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

/**
 * @desc
 * -
 */
@mixin media-sm {
  @media only screen and ( max-width: 576px ) {
    @content;
  }
}

/**
 * @desc
 * -
 */
@mixin media-xsm {
  @media only screen and ( max-width: 401px ) {
    @content;
  }
}
